<p id="notice"><%= notice %></p>

<p>
  <b>Pesticide name:</b>
  <%= @pesticide.pesticide_name %>
</p>


<%= link_to 'Edit', edit_pesticide_path(@pesticide) %> |
<%= link_to 'Back', pesticides_path %>
